# OpenAI API Key for the Sales Coach Extension
# VITE_OPENAI_API_KEY=your_api_key_here

# VITE_GOOGLE_MEET_CLIENT_ID=
# VITE_GOOGLE_MEET_CLIENT_SECRET=


# VITE_MAIN_BASE_URL=
# VITE_MAIN_SITE_URL=

# VITE_SALESFORCE_API_BASE_URL=